body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The below code defines root variables for background color and page margin that are applied to elements throughout the page */

:root {
  --background-color: rgb(31, 150, 150);
  --page-margin: 100px;
}

/* The below code defines the layout for the body of the HTML, defining it as a flexbox layout with its children sections 
dislpayed as a column with a black background color */

body {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  margin: 0;
  padding: 0;
}

#about-header,
#Work-Header,
#contact-header {
 flex: 0 0 20%;
 text-align: right;
 padding-right: 15px;
 border-right: 4px solid var(--background-color);
 font-size: 4vw;
 line-height: 1.1;
}

#Work,
#Contact-Me,
#About-Me {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-right: 0px;
  margin-left: 60px;
  padding-right: 0;
}

.work-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  margin-left: 15px;
  padding-right: 0px;
  margin-right: 0px;
}

.work-links div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 70%;
  font-size: 13px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  background-image: linear-gradient(to bottom, var(--background-color), white); 
  position: relative;
  top: 60%;
  border-radius: 8px;
}

/* This makes sure that the card tagged to the largest link will have a different height, width, and font size */

#card1 {
  height: 100px;
  width: 20%;
  font-size: 20px;
}

.work-links div h4{
  margin-top: 10px;
  font-size: 80%;
  padding-bottom: 10px;
}

#work-links1,
#work-links2,
#work-links3,
#work-links4 {
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px;
  margin-right: 10px;
  color: white;
  filter: blur(1px);
  transition: .2s ease;
  margin: 10px;
  margin-right: 60px;
}

/* The below code is adding a hover property to each image. Specifcally, each card is given a default "blur" filter set above, and
whenever they are hovered, they remove the filter making the images clear. */

#work-links1:hover,
#work-links2:hover,
#work-links3:hover,
#work-links4:hover {
  filter: none;
  border: solid var(--background-color) 5px;
}

/* The below code is specifiying a specifc size for the first image / link in the Work section to make it larger than the rest. */

#work-links1 {
  background-image: url(../public/nasa.jpg);
  min-height: 400px;
  min-width: 90%;
  max-height: 400px;
  max-width: 400px;

}

/* The below three lines of code set background images for the different links. */

#work-links2 {
  background-image: url(../public/coding.jpg);

}

#work-links3 {
  background-image: url(../public/nala.jpg);
}

#work-links4 {
  background-image: url(../public/photo-1589802829985-817e51171b92.avif);
}

/* The below code specifies that the "Contact Me" section (inclusive of its children) will have no margin or padding to the right */

#Contact-Me {
  margin-right: 0px;
  padding-right: 0px;
}

/* The below code represents different media queries for custom breakpoints for the page. This was done so that the page is responsive to any resolution changes */

@media screen and (max-width: 1300px ) {

  #Work, 
  #About-Me,
  #Contact-Me {
      margin-left: 10px;
  }

  #About-Me h1,
  #Work h1,
  #Contact-Me h1 {
      font-size: 30px;
      border: none;
  }

  header {
      height: 150%;
      width: 100%;
  }

  .name,
  .links li {
      font-size: 20px;
     justify-content: flex-start;
     flex-wrap: wrap;
     margin-left: 0px;
  }

  .name {
      position: relative;
      top: 10px;
      height: 35px;
  }

  .links a {
      display: flex;
      flex-direction: row;
      margin-right: 0px;
      justify-content: flex-start;
  }

  #home-container {
    min-height: 500px;
    color: blue;
  }

  #bio p{
      font-size: 30px;
      font-weight: bold;
  }

  #work-links1,
  #work-links2,
  #work-links3,
  #work-links4 {
      height: 220px;
      width: 210px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .About-Me {
      display: flex;
      flex-direction: row;
  }

  main {
      display: flex;
      flex-direction: column;
  }

  #Contact-Links a {
      font-size: 12px;
      margin-bottom: 30px;
  }

  .work-links a {
      width: 100px;
      height: 100px;
  }
}

@media screen and (max-width: 850px) {

  

  .header {
     display: flex;
     flex-direction: column;
      height: 20%;
  }

  .name {
      font-size: 13px;
      width: 40%;
  }

  .work-links {
      padding-left: 10px;
  }

  #selfie {
      margin-left: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }
 
  #work-links1,
  #work-links2,
  #work-links3,
  #work-links4 {
      position: relative;
      background-size: cover;
      background-position: center;
      max-width: 100px;
      max-height: 100px;
      margin-right: 10px;
      color: white;
      filter: blur(1px);
      transition: .2s ease;
      margin: 10px;
  }

  #work-links1 {
      width: 100px;
      max-height: 50px;
  }

  .work-links div {
      font-size: 50%;
      height: 30%
  }

#Contact-Links a {
  margin: 10px;
}

#subtitle-header {
  width: 150%;
  font-size: 14px;
}

#selfie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

}   


@media screen and (max-width: 768px ) {
  #selfie {
      margin-left: 20px;
  } 

}

@media screen and (max-width: 735px) {
  .name {
      font-size: 13px;
      /* width: 45%; */
  }

  .links li {
      font-size: 13px;
  }
}

@media screen and (max-width: 440px) {
  #bio {
      font-size: 5px;
  }
}